.rss2html-note {
    display: none;
}

body.blog .container,
body.shows .container {
    margin-top: 75px;
    text-align: center;
    padding: 10px;
}

.feed-item-title a {
    color: rgba(81, 101, 105, 0.9);
}

h4.feed-item-title {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

p.feed-item-desc {
    border-bottom: 1px solid #00000033;
    padding-bottom: 25px;
}