html, body  {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  text-decoration: none;
}

body.index .intro, .album {
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
  background-size: cover !important;
}

body.index .intro{
  background: url(../img/drew-portrait-op.gif);
}

body.contact, body.contact-form-submitted, body.statement, body.shows, body.blog {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/environments.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/environments.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.album {
  padding: 100px;
}

/*--- NAV BAR ---*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar.navbar-expand-lg.navbar-light.bg-light  {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-light {
  /*background-color: #f8f9fac2!important; /*transparent white*/
  zoom: 1;
  opacity: 0.80 !important;
  filter: alpha(opacity=80)!important;
}

body.index .bg-light {
  background-color: #eaeceb00!important; /*transparent*/
}

button.navbar-toggler:focus {
  outline: 5px auto #000000;
}

/* Quote */
.card.quote {
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.74);
  margin-top: 60px;
}

.card.quote p {
  font-family: "Reenie Beanie";
  font-size: 25px;
  margin-bottom: 0;
}

.card.quote.statement p, .card.quote.shows p{
  text-align: center;
  padding-top: 70px;
  font-size: 1.3em;
  padding: 100px;
}

/*--- WORKS ---*/
.album {
  padding-left: 0px;
  padding-right: 0px;
}

body.works span {
  font-size: 88%;
}

.more-info {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-bottom: -15px;
  margin-top: 0px;
}

body.works .btn.dropdown-toggle {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-size: 1rem;
  padding-left: 16px;
}

body.works .btn.dropdown-toggle:hover {
  border: 0;
  color: #036A81;
}

body.works .intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

body.works .btn {
  border: solid #036A81 3px;
  border-radius: 9px;
  color: #036A81;
  font-size: 135%;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

body.works .btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

body.works p {
  text-align: justify;
  margin: 3%;
  font-size: 88%;
}

.album-selector {
  font-size: 14.4px;
  font-size: 0.9rem;
  position: fixed;
  right: 0;
}

.card-img-top {
  width: 50%;
  height: 100%;
}

.album-artwork {
  width: 40vw;
  box-shadow: -7px -5px 20px 0px #616161db;
  -webkit-box-shadow: -7px -5px 20px 0px #616161db;
  -ms-box-shadow: -7px -5px 20px 0px #616161db;
}

/*font awesome icons*/
i.fab {
  padding-right: 5px;
}

.fab.fa-spotify {
  font-size: 1.9em;
  vertical-align: top;
}

.fab.fa-amazon {
  font-size: 1.9rem;
}

span.tidal-text {
  font-weight: bold;
  vertical-align: super;
  letter-spacing: 0.1em;
}

#concept-reach {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/reaching.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/reaching.jpg");
}
#concept-reach, #concept-reach .btn, #concept-reach i, span.tidal-text {
  color: #5c3c6b;
}

#install-man {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/manipulated-labour.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/manipulated-labour.jpg");
}
#install-man, #install-man .btn {
  color: #5c3c6b;
}

#perf-gender, #perf-breathe {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/drew.png");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/drew.png");
}
#perf-gender, #perf-breathe, #perf-gender .btn, #perf-breathe .btn, #perf-breathe i {
  color: #48565a;
}

#ep-envir {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/environments.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/environments.jpg");
}
#ep-envir, #ep-envir .btn, #ep-envir i, #ep-envir span {
  color: #59a593;
}

#install-sleep {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/songs-sleep-install.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/songs-sleep-install.jpg");
}
#install-sleep, #install-sleep .btn {
  color: #946951;
}

#concept-sleep {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/songs-sleep.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/songs-sleep.jpg");
}
#concept-sleep, #concept-sleep .btn, #concept-sleep i, #concept-sleep span {
  color: #34829e;
}

#install-jungle {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/jungle-square.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/jungle-square.jpg");
}
#install-jungle, #install-jungle .btn {
  color: #34829e;
}

#sing-fault {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/fault-system.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/fault-system.jpg");
}
#sing-fault, #sing-fault .btn, #sing-fault i, #sing-fault a {
  color: #000;
}

#sing-short {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/shortest-straw.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/shortest-straw.jpg");
}
#sing-short, #sing-short .btn, #sing-short i, #sing-short a, #sing-short span {
  color: #34829e;
}

#sing-race {
  background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/digital-race.jpg");
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.52)), url("../img/digital-race.jpg");
}
#sing-race, #sing-race .btn, #sing-race i, #sing-race span {
  color: #4c4c4c;
}

/*-- BLOG --*/
.rss2html-note {
  display: none;
}

body.blog .container, body.shows .container {
  margin-top: 75px;
  text-align: center;
  padding: 10px;
}

.feed-item-title a {
  color: rgba(81, 101, 105, 0.9);
}

h4.feed-item-title {
  margin-bottom: 0px;
  padding-bottom: 5px;
}

p.feed-item-desc {
  border-bottom: 1px solid #00000033;
  padding-bottom: 25px;
}

/* spotify widget*/
iframe {
  width: 100%;
}

.tidal {
  height: 25px;
  vertical-align: inherit;
}

/*--- FOOTER ---*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 60px;
  background-color: transparent;
  text-align: right;
}

/* Index Footer */
body.works .footer {
  bottom: auto;
}

.footer .text-muted {
  padding-right: 10px;
}

body.works .nav-tabs .nav-item.show .nav-link, body.works .nav-tabs .nav-link.active {
  background-color: transparent;
  border: 0;
}

body.works .footer {
  margin-top: -50px;
}

/*-- CONTACT PAGE --*/
.buttons {
  text-align: center;
}

.btn-light {
  background-color: #efefef;
}

a.btn {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio-block .heading {
  text-align: center;
  text-transform: uppercase;
}

.portfolio-block.contact {
  padding-top: 75px;
  padding-bottom: 0px;
}

body.contact-form-submitted .portfolio-block.contact {
  padding-top: 200px;
}

.portfolio-block form {
  max-width: 650px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.btn-outline-secondary:hover {
  background-color: #00000017;
  border-color: transparent;
}

.btn-outline-secondary:active {
  background-color: #00000017 !important;
  border-color: transparent !important;
}

.btn-outline-secondary:focus {
  box-shadow: none !important;
}

/* MOBILES */
@media only screen and (max-width: 575px){
  body.works .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn.dropdown-toggle {
    font-size: 14px !important;
    padding-bottom: 0px !important;
  }
  .dropdown {
    text-align: center;
  }

  .dropdown-item {
    padding: .10rem 0.5rem;
  }

  .dropdown-menu {
    background-color: #ffffffd1;
  }

  .album-artwork-container, p.more-info {
    text-align: center !important;
  }

  footer span {
    display: none;
  }

  body.index .bg-light {
    background-color: #eaeceb!important;
  }

  body.contact, body.contact-form-submitted, body.statement, body.shows, body.blog {
    background-image: url("../img/reaching-portrait.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (orientation: landscape) {
  body.index .intro{
    background: url(../img/drew-op.gif);
  }
}

@media only screen and (max-width: 1000px){
  .card.quote.statement p, .card.quote.shows p {
    padding: 0;
  }
}
